[Desktop Entry]
Version=3.0
Name=Word
GenericName=Word
Comment=Word
Type=Application
Icon=${SNAP}/meta/gui/word.png
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/epiphany_epiphany.desktop /snap/bin/epiphany --application-mode https://www.office.com/launch/word
StartupNotify=true
Terminal=false
Keywords=Word,document,doc
Categories=Office;WordProcessor;GTK
